doctype html
html
	head
		title Сайт
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet/less' href='/less/bootstrap.less')
		script(src='/javascripts/bootstrap.min.js')
body
	header
		h1 Сайт
	aside
		nav 
			a(href='/404.html') О нас
			a(href='/index.html') Главная
			a(href='/projects.html') Проекты
			a(href='/contacts.html') Контакты
	article
		block main
footer
	p 2015 &copy; unsweet