font-size = 16px
line-height = 1.5

font-family-main = PT Sans, Verdana, Arial, sans-serif
font-weight-main = 400
font-family-header = Helvetica Neue, Segoe UI, Yelvetica, Arial, sans-serif
font-weight-header = 100

color-text = #443
color-bg = #f4f4f0

color-header = #a80311
color-nav-links = #db4864
color-nav-links-hover = color-header
color-footer = #776