extends ../layout

block main
	h1 Добро пожаловать!
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare enim luctus, ultrices risus id, maximus est. Suspendisse potenti. Pellentesque commodo viverra ipsum id scelerisque. Donec interdum accumsan est, vel rutrum ante porttitor ut. Vivamus tempus sapien turpis, ut blandit eros gravida nec. Duis ultrices sodales laoreet. Phasellus quis dolor tellus. Nulla ipsum dui, rutrum nec erat id, rutrum vulputate nisl. Nulla facilisi. Vivamus ut laoreet libero. Vivamus posuere eget lorem viverra volutpat.

	p Vivamus fringilla libero tincidunt urna vehicula aliquam. Donec ipsum justo, facilisis ac dolor eget, commodo iaculis lacus. Sed dignissim sit amet lorem eget placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed enim turpis, cursus vel dolor quis, viverra malesuada eros. Donec at mi neque. Fusce venenatis, quam vitae feugiat bibendum, nisl nunc ornare dui, in venenatis metus mauris vel dolor. Aenean tincidunt auctor neque, sit amet egestas orci rhoncus at. Aliquam ac pulvinar ipsum. Proin ac venenatis nisi.

	p Donec venenatis enim sit amet tincidunt scelerisque. Pellentesque velit neque, blandit vitae varius at, eleifend ut purus. Ut id dui velit. In feugiat maximus vulputate. Praesent ullamcorper dui id ex viverra pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer mauris magna, lacinia sed pulvinar sed, fringilla id nunc. Donec rhoncus risus id ipsum tempor, vel aliquam purus iaculis. Nullam euismod quam tincidunt mi mattis ullamcorper. Etiam et lectus interdum, lacinia neque nec, ullamcorper risus. Donec rutrum dolor in eros semper sagittis. Pellentesque diam nisi, tristique nec dapibus vel, varius et massa.

	p Proin dui felis, sodales non eros pretium, dignissim pellentesque ante. Duis semper dapibus arcu, ut rutrum turpis bibendum sit amet. Cras eget arcu enim. In mattis, tortor pretium feugiat euismod, erat metus interdum nulla, at tincidunt nisi sapien nec augue. Vestibulum venenatis ultricies volutpat. Suspendisse rutrum purus eu accumsan tristique. Curabitur suscipit risus non interdum gravida. Etiam dignissim mi in mauris rhoncus, vehicula ultrices risus venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla maximus, purus feugiat aliquam mattis, nisl felis euismod arcu, hendrerit vulputate tortor mauris in nulla. Quisque placerat velit eu mauris finibus congue. Cras vel ex et nibh auctor vehicula in sed nisl.

	p Nulla non ex vel felis vehicula placerat. Nullam pharetra quam vitae nulla bibendum finibus. Sed a eleifend purus. Cras a ante eu nunc egestas egestas. Sed ut orci non turpis pharetra posuere. Nam nec sagittis lacus, ac sagittis nisi. Aenean mattis finibus felis, quis ornare mi luctus eget. Donec luctus turpis non laoreet convallis. Fusce mollis tincidunt molestie. Aenean et imperdiet ligula. Nullam dapibus non mauris vitae volutpat. Vivamus semper, sapien eget faucibus facilisis, urna massa tincidunt erat, eget consectetur nibh risus at sapien. Nullam ac elementum nulla, sit amet blandit tortor. Integer laoreet turpis at interdum pellentesque. In pharetra iaculis viverra. Nullam sit amet neque nec arcu dignissim cursus.